@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

/* Custom Premium Styles */
body {
  @apply bg-slate-950 text-slate-50 selection:bg-emerald-500/30 selection:text-emerald-200;
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}